useDynLib(PARBONET, .registration=TRUE)



import("BoolNet")



export(calculate_node_activities)
export(calculate_convergence_time)
export(get_reached_states)
export(count_pairwise_transitions)
export(extract_edges)
